:host {
    display: block;
    width: 100%;
    height: 100vh;
}

.graph-container {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: grab;

    &:active:hover {
        cursor: grabbing;
    }

    .svg-graph-container {
        width: 100%;
        height: 100%;
    }

    .details {
        position: absolute;
        left: 0px;
        top: 0px;
        pointer-events: none;
    }

    .button-link {
        position: absolute;
        right: 0px;
        bottom: 0px;

        button {
            margin: 10px;
        }
    }
}